<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Bookings App</title>
        <title>I-Tamm</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css">

    </head>
    <body>
        Teretulemast!
        <div class="header">
            <span class="header__heading">
                Tamme hotell
            </span>
        </div>
        <div class="content"></div>
        <div class="footer">
            <div class="footer__text">
                Created by Tamme tenniseklubi OÜ - <a href="http://www.tammetennis.ee/">www.tammetennis.ee</a>
            </div>
        </div>

    </body>
</html>
