{% extends 'base.html.twig' %}

{% block content %}
    <h2>Täida allolev vorm ning tuba on broneeritud!</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
