/**
 * Css file for Booking app base styling
 */
body {
    background-color: #FFFFFF;
}

h2 {
    font-size: 1.2em;
    color: #5a9023;
}

.content {
    padding:  2em 6em;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.header {
    background-color: #99d75b;
    border-bottom: .25em solid #5a9023;
    display: -webkit-flex;
    display: flex;
    height: 5em;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.header__heading {
    color: #5a9023;
    float: left;
    font-size: 2em;
    font-weight: 700;
    padding: .6em 0 1em 0;
}

.header__pic {
    float: left;
    height: 3em;
    padding: 1em;
    width: 3em;
}

.footer {
    background-color: #99d75b;
    border-top: .25em solid #5a9023;
    bottom: 0;
    display: block;
    height: 2.5em;
    position: fixed;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.footer__text {
    color: #5a9023;
    font-size: 1em;
    padding: .5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.footer__text a {
    color: #5a9023;
}
